<md-toolbar color="primary">
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button md-button routerLink="/products">NIW2017</button>
    <button md-button routerLink="/products">Delegates</button>
    <button md-button routerLink="/dashboard">Sign Up</button>
   
    <md-input-container class="example-full-width" >
      <input mdInput [(ngModel)]="search" placeholder=""  value="">
      
    </md-input-container >
     <button md-button (click)="getall(search)"> <md-icon>search</md-icon></button>
   
    
  </div>


</md-toolbar>

<md-card>
  <md-card-title>Niw Registered Delegates</md-card-title>
  
  <md-card-content>
     <md-progress-circle *ngIf="load"
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="value">
    </md-progress-circle>
    <ngx-datatable *ngIf="!load" class="material" [rows]="delegates" [columns]="columns" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
      [footerHeight]="50" [rowHeight]="50" [scrollbarV]="false">
      </ngx-datatable>

  </md-card-content>
</md-card>